name: Bump-n-Release

# NOTE: The change log is only updated in the remote upon release (in `bump-release` job)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      component:
        description: The version component to increment
        type: choice
        required: false
        options:
          - major
          - minor
          - patch

permissions: {}

jobs:
  bump-release:
    # permissions required for BUMP_N_RELEASE token:
    #   # for creating GitHub Release and pushing changes to metadata files
    #   contents: write
    #   # for generating CHANGELOG entries using PR history
    #   pull-requests: read
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.BUMP_N_RELEASE }}
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: true

      - name: Setup nushell
        uses: hustcer/setup-nu@920172d92eb04671776f3ba69d605d3b09351c30 # v3.22
        with:
          version: ${{ vars.NUSHELL_VERSION || '*' }}

      - run: >-
          cargo install cargo-edit
          --locked
          --no-default-features
          --features set-version

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

      - name: Bump ${{ inputs.component }} version
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_N_RELEASE }}
          GITHUB_REPO: ${{ github.repository }}
          GIT_CLIFF_CONFIG: .config/cliff.toml
          UV_CONSTRAINTS: .github/requirements.txt
        run: nu .github/workflows/bump-n-release.nu ${{ inputs.component }}

  unreleased-notes:
    if: github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      - name: Generate release notes
        shell: bash
        env:
          GITHUB_REPO: ${{ github.repository }}
          GITHUB_TOKEN: ${{ github.token }}
          GIT_CLIFF_CONFIG: .config/cliff.toml
          UV_CONSTRAINTS: .github/requirements.txt
        run: >-
          uvx git-cliff
          --unreleased
          --strip all
          --bump
          --output "${GITHUB_STEP_SUMMARY}"
