name: Lint CI workflows

on:
  workflow_call:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  check-ci-workflows:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          repository: ${{ github.repository }}
      - name: Run zizmor
        env:
          GH_TOKEN: ${{ github.token }}
          FORCE_COLOR: 1
        run: pipx run zizmor --format=github .github/workflows/*.yml
