name: Lint CI workflows

on:
  workflow_call:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  check-ci-workflows:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          repository: ${{ github.repository }}
      - name: Run zizmor
        env:
          GH_TOKEN: ${{ github.token }}
          FORCE_COLOR: 1
        run: pipx run zizmor --format=github .github/workflows/*.yml
