name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [published]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Python_pkg:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this Repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install --upgrade setuptools wheel twine pylint

      - name: Check formatting
        run: pylint rmskin_builder.py

      - name: twine Check
        run: |
          python setup.py sdist
          twine check dist/*

      - name: twine Upload
        if: github.event_name == 'release'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: twine upload dist/*

  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this Repo
        uses: actions/checkout@v2

      # Runs a this repo's action
      - name: Run Build action
        id: builder
        uses: 2bndy5/rmskin-action@master
        with:
          path: tests

      # # print contents of GITHUB_WORKSPACE dir
      # - name: verify contents
      #   run: ls "${{ github.workspace }}"

      # Use the output from the `builder` step
      - name: Print the output filename
        run: echo "The output file was ${{ steps.builder.outputs.arc_name }}"
