name: Rust

on:
  push:
    branches: [main]
    paths:
      - '**/*.rs'
      - Cargo.toml
      - Cargo.lock
      - tests/demo_project/**
      - .github/workflows/rust.yml
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches: [main]
    paths:
      - '**/*.rs'
      - Cargo.toml
      - Cargo.lock
      - tests/demo_project/**
      - .github/workflows/rust.yml

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  BIN_NAME: rmskin-build

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          # need git history for some tests about determining version
          fetch-depth: 0
      - name: Cache deps
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0 # zizmor: ignore[cache-poisoning]
        with:
          path: ~/.cargo
          key: rust-test-${{ hashFiles('Cargo.lock') }}
      - name: Setup Rust
        run: rustup update --no-self-update
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@afcf9780305558bcc9e4bc94b7589ab2bb8b6106 # v1.15.9
      - name: Install cargo-llvm-cov and cargo-nextest
        run: cargo binstall -y cargo-nextest cargo-llvm-cov nur
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: rustup component add llvm-tools-preview
        # this enables a tool (for default toolchain) needed to measure code coverage.
      - run: git config set user.name ${GITHUB_ACTOR}
      - name: Run tests
        run: nur test --profile ci
      - name: Generate coverage reports
        run: nur test lcov
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true

  build:
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    name: build ${{ matrix.target }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            cross: true
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            cross: true
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            cross: true
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            cross: true
          - target: arm-unknown-linux-gnueabi
            os: ubuntu-latest
            cross: true
          - target: arm-unknown-linux-gnueabihf
            os: ubuntu-latest
            cross: true
          - target: armv7-unknown-linux-gnueabihf
            os: ubuntu-latest
            cross: true
          - target: powerpc-unknown-linux-gnu
            os: ubuntu-latest
            cross: true
          - target: powerpc64-unknown-linux-gnu
            os: ubuntu-latest
            cross: true
          - target: powerpc64le-unknown-linux-gnu
            os: ubuntu-latest
            cross: true
          - target: s390x-unknown-linux-gnu
            os: ubuntu-latest
            cross: true
          - target: aarch64-apple-darwin
            os: macos-latest
            cross: false
          - target: x86_64-apple-darwin
            os: macos-latest
            cross: false
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            cross: false
          - target: aarch64-pc-windows-msvc
            os: windows-latest
            cross: false
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup Rust
        run: |-
          rustup update
          rustup target add ${{ matrix.target }}

      - name: Install cargo-binstall
        if: matrix.cross
        uses: cargo-bins/cargo-binstall@afcf9780305558bcc9e4bc94b7589ab2bb8b6106 # v1.15.9
      - name: Install cross (cargo cross compiler)
        if: matrix.cross
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: cargo binstall -y cross

      - name: Build
        run: >-
          ${{ matrix.cross && 'cross' || 'cargo '}}
          build
          --bin ${{ env.BIN_NAME }}
          --release
          --target ${{ matrix.target }}
          --features bin

      - name: Prepare artifacts (unix)
        if: runner.os != 'Windows'
        shell: bash
        run: |-
          tgt="${{ env.BIN_NAME }}"
          mv "target/${{ matrix.target }}/release/${tgt}" "${tgt}"
          arc_name="${{ env.BIN_NAME }}-${{ matrix.target }}.tar.gz"
          tar -a -c -v -z -f "${arc_name}" ${tgt} LICENSE
      - name: Prepare artifacts (windows)
        if: runner.os == 'Windows'
        shell: pwsh
        # `tar.exe` in powershell is different from `tar` in bash.
        # need to use `tar.exe` in powershell to create a valid zip file.
        run: |-
          $tgt = "${{ env.BIN_NAME }}.exe"
          mv "target/${{ matrix.target }}/release/${tgt}" "${tgt}"
          $arc_name = "${{ env.BIN_NAME }}-${{ matrix.target }}.zip"
          tar -a -c -v -f "${arc_name}" ${tgt} LICENSE

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.BIN_NAME }}-${{ matrix.target }}
          path: ${{ env.BIN_NAME }}-${{ matrix.target }}*
          if-no-files-found: error

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Cache deps
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0 # zizmor: ignore[cache-poisoning]
        with:
          path: ~/.cargo
          key: cargo-doc-${{ hashFiles('Cargo.lock') }}
      - name: Install Rust
        run: rustup update stable --no-self-update
      - name: Build API docs
        run: cargo doc --no-deps --lib
      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: api-docs
          path: target/doc/rmskin_builder
          if-no-files-found: error

  release-assets:
    runs-on: ubuntu-latest
    needs: [build, test, docs]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        with:
          persist-credentials: false
      - name: Install Rust
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: rustup update stable --no-self-update
      - name: Validate release assets
        if: ${{ !startsWith(github.ref, 'refs/tags') }}
        run: cargo package

      - name: Download built assets
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: ${{ env.BIN_NAME }}-*
          path: dist
          merge-multiple: true

      - name: List release assets
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        shell: bash
        run: |-
          files=$(ls ./*/${{ env.BIN_NAME }}*)
          echo "${files}"
      - name: Upload release assets
        if: startsWith(github.ref, 'refs/tags')
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPO: ${{ github.repository }}
        run: |-
          files=$(ls ./*/${{ env.BIN_NAME }}*)
          gh release upload ${GITHUB_REF_NAME} ${files} --repo "${GITHUB_REPO}"

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [build, test, docs]
    permissions:
      # needed for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install Rust
        run: rustup update stable --no-self-update
      - name: Establish provenance
        id: auth
        uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
      - name: Publish package
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: cargo publish
