name: Action

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
          - ubuntu-24.04-arm
          - windows-11-arm
    steps:
      - name: Checkout this Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      # Runs a this repo's action
      - name: Run Build action
        id: builder
        uses: ./
        with:
          path: tests/demo_project
        env:
          FORCE_COLOR: 1

      # Use the output from the `builder` step
      - name: Print the output filename
        shell: bash
        env:
          ARCHIVE_NAME: ${{ steps.builder.outputs.arc-name }}
        run: echo "The output file was ${ARCHIVE_NAME}"
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.os }}_rmskin-build
          path: ${{ steps.builder.outputs.arc-name }}
          if-no-files-found: error
